.main_node {
  width: 500px;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

.MuiButton-root {
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: -28px;
  left: 400px;
  cursor: pointer;
  background-color: #fff !important;
  border-radius: 50% !important;
}

.MuiButton-root .plus-sign {
  font-size: 45px !important;
  font-weight: 900;
  color: #f4b000;
  cursor: pointer;
  z-index: 222;
  /* background: red; */
}
/* Button for the add icon */
.MuiButton-root {
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: -28px;
  left: 400px;
  cursor: pointer;
  background-color: #fff !important;
  border-radius: 50% !important;
}

/* Button style inside CreateNode for adding */
.MuiButton-root .plus-sign {
  font-size: 45px !important;
  font-weight: 900;
  color: #f4b000;
  cursor: pointer;
  z-index: 222;
  /* background: ; */
}

/* General button style for other buttons (if any in CreateNode) */
button {
  padding: 10px 20px;
  background-color: #f5ba13;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f3a300;
}
